
.navbar .navbar-nav .nav-link {
    font-size: 0.9rem; 
    color: #C00101;
    font-family: 'Open Sans', sans-serif;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color:  #dc3545;

}
.navbar {
    padding-left: 50px;
    padding-right: 50px;
    position: relative; /* Asegura que el pseudo-elemento se posicione relativo a .navbar */

}

.navbar::after {
    content: "";
    display: block;
    width: calc(100% - 100px); /* 100% menos el padding aplicado a la izquierda y derecha */
    height: 1px;
    background-color: #E5E8EB;
    position: absolute;
    bottom: 0;
    left: 50px; /* Comienza la línea después del padding */
}
.btn-danger {
    background-color: #C00101;
    border-color: #C00101;
    font-family: 'Open Sans', sans-serif;
}

.btn-danger:hover {
    background-color: #dc3545;
    border-color: #cc0000;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.text-danger {
    color: #C00101 !important;
    font-family: 'Open-Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: black
    
}
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;

    /*background-color: aqua;*/
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap:10px;
    grid-auto-flow: dense;
}
.wide {
    grid-column: span 2;
}
.tall {
    grid-row: span 2;
}

#quienes-somos .container{
    display: flex;
    justify-content: space-between;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#servicios .row {
    display:flex;
    flex-wrap: wrap;
}


.service-item {
    padding-right: 20px;
    position: relative;/*Ensures that the drp-down content is positioned in relation to this container*/
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 100%;
    align-items: flex-start;
}

.btn-container {
    margin-top: 10px;
}

.details {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #fff; 
    padding: 20px; /* Espaciado interno */
    padding-left: 30px;
    margin-bottom: 10px;
    min-width: 300px;
    max-width: 100%;
    max-height: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
    border-radius: 8px;
    top: 100%;
    width: 100%;
    z-index: 1;
}
.details.show {
    display: block;
    opacity: 1;
    max-height: 500px;
}

.details p {
    color: black;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;

}

.details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details li {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.5;
}

.details i {
    color: #C00101;
    margin-right: 10px;
}

#servicios .col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 50px;
    margin-bottom: 20px;  
 }

 .row {
    display: flex;
    flex-wrap: wrap;
 }

 .col-md-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

 }

 .title-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

 }

#servicios h4 {
    font-size: 15px;
    color: black;
    margin-bottom: 10px; 
    text-align: left; 
}

.custom-divider{
    border: 0; 
    height: 1px; 
    background-color: #C00101; 
    margin-top: -30px;
    margin-bottom: 20px;
}

.btn-info {
    background: none;
    border: none;
    color: #C00101;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
    box-shadow: none !important;
    text-align: left;
    align-self: flex-start;
    margin-top: 0;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    background-color: #C00101 !important;
    color: #fff;
    text-decoration: none; /* Eliminar subrayado en hover y active */
    border: #C00101 !important;
}

.btn-info:focus {
    outline: none !important; /* Eliminar el contorno de enfoque */
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 10px;
   
}

.gallery-item {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
   
}
.gallery-item img:hover {
    transform: scale(1.1);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-justify {
    text-align: justify;
}
.stand-image {
    width: 100%;
    height: 100%;
    margin-right: 15px;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
    border-radius: 15px;

}
.image-container {
    width: 100%;
    height: 300px;
    /*overflow: hidden;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    max-height: 45px;
    width: auto;
}

.image-gallery {
    margin-top: 20px;
}

.row.justify-content-center > .col-md-4 {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

#quienes-somos {
    padding: 50px 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}
