
.navbar .navbar-nav .nav-link { /*Menú de barra de navegación*/
    font-size: 0.9rem; 
    color: #C00101;
    font-family: 'Open Sans', sans-serif;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color:  #dc3545;
    /*border-radius: 5px;*/
    /*padding: 5px 10px;*/
}
.navbar {
    padding-left: 50px;
    padding-right: 50px;
    position: relative; /* Asegura que el pseudo-elemento se posicione relativo a .navbar */

}

.navbar::after {
    content: "";
    display: block;
    width: calc(100% - 100px); /* 100% menos el padding aplicado a la izquierda y derecha */
    height: 1px;
    background-color: #E5E8EB; /* Color de la línea */
    position: absolute;
    bottom: 0;
    left: 50px; /* Comienza la línea después del padding */
}
.btn-danger {
    background-color: #C00101;
    border-color: #C00101;
    font-family: 'Open Sans', sans-serif;
}

.btn-danger:hover {
    background-color: #dc3545;
    border-color: #cc0000;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.text-danger {
    color: #C00101 !important;
    font-family: 'Open-Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: black
}

#servicios .row {
    display:flex;
    flex-wrap: wrap;
}

#servicios .col-md-3 {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 0 50px;
   margin-bottom: 20px;
}

#servicios h4 {
    font-size: 15px;
    color: black;
    margin-bottom: 10px; 
    text-align: left; 
}

#servicios .btn-link {
    font-size: 12px;
    color: #C00101;
    display: block; /* Hace que el botón ocupe todo el ancho disponible */
    margin-top: auto; /* Espaciado entre el botón y el título */
    padding: 0;
    text-align: left;
    align-self: flex-start;
}

#servicios .btn-link:hover,
#servicios .btn-link:focus,
#servicios .btn-link:active {
    color:  #C00101; /* Color del texto al pasar el ratón */
    font-weight: bold;
}
hr {
    border: 0; 
    height: 1px; 
    background-color: #C00101; 
    margin-top: -35px; /*Espacio superior*/
    margin-bottom: 20px; /* Espacio inferior */
}
#servicios .collapse {
    background-color: #f8f9fa;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease-out, opacity 0.3s ease;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    min-width: 300px;
    max-width: 100%;
    will-change: opacity, visibility;
}

#servicios .collapse p {
    font-size: 14px;
    margin-bottom: 2px;
    line-height: 1.5;
    color: #333;
    padding-right: 10px;
}

.collapse {
    max-width: 100%;
    word-wrap: break-word;
    padding-right: 15px;
}
.collapse ul {
    padding-left: 10px;
}

.collapse ul li {
    margin-bottom: 100;
    line-height: 1.5;
    color: #333;
    font-size: 14px;
    /*padding: -60px;*/
    /*word-wrap: break-word;*/
}

.service-items {
    padding-right: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-justify {
    text-align: justify;
}
.stand-image {
    width: 100%;
    height: 100%;
    margin-right: 15px;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
    border-radius: 15px;

}
.image-container {
    width: 100%;
    height: 300px;
    /*overflow: hidden;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 15px;*/
}

.logo-image {
    max-height: 45px;
    width: auto;
}

.image-galery {
    margin-top: 20px;
}

.row.justify-content-center > .col-md-4 {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

#quienes-somos {
    padding: 50px 0;
}

.container {
    max-width: 960px;
}
